.App {
  text-align: center;
  color: white;
  background-color: black;
}
body {  
  background-color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #020814;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---Navigation Bar ---*/
.nav-box {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 50px;
  /* background-color: black; */
  background:transparent;
}

.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  /* float:right; */
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  color: white;
}
.topnav .icon {
  display: none;
}
.navLink:hover {
  border-radius: 20px;
  color: rgb(119, 226, 142);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 100%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(155, 233, 185, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(148, 212, 156, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Hero section */

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: left;
  /* margin-left:100px; */
  align-items: center;
  /* Text styles */
  text-align: center;
      /* Background styles */
      background-image:  url(https://user-images.githubusercontent.com/71906988/131229639-1fb4ce9a-a292-4402-97ae-d89474c72a13.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      /* background-color: black; */
  
}

.hero h3 {
  /* Text styles */
  font-size: 5em;
      /* Margins */
      margin-top: 0;
      margin-bottom: 0.5em;
      margin-left: 100px;
}

.herosmallimg {
  width: 5vw;
  height: 5vw;
}

.hero-inner h3 {
  color: rgb(248, 245, 245);
  font-size: 20px;
}

.hero-inner-small img {
  width: 30vw;
  height: auto;
}

.hero-greeting {
  display: flex;
}

/* Chart info */
.chart-style, .timeline-chart {
  width:40vw;
  height:60vh;
}
.skill-blocks{
  display: flex;
  /* align-items: left; */
  height: 100em;
  /* padding-left:100px; */
  background: #000000;
  padding: 70px 0;
  transform: skew(0deg, -7deg) translateY(-85px);
}

.skill-titles {
  display: flex;
  flex-direction: column;
  color: white;
  /* border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
}

.sk-container {
  padding: 50px 100px;
  transform: skew(0deg, 7deg);
}

.top-pad {
  padding-top: 100px;
  background: rgb(0,3,3);
  background: linear-gradient(0deg, rgba(0,3,3,1) 0%, rgba(6,4,0,0) 100%);
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.project-container {
  display: grid;
  height: 70vh;
  grid-template-columns: 0.4fr 0.4fr;
  grid-template-rows: 0.8fr 0.8fr 0.8fr;
  grid-gap: 20px;
}

.projects {
  background-color: aqua;
  padding: 5px;
}

.proj1 {
  background-image: url(https://user-images.githubusercontent.com/71906988/127776022-6b6fd782-53fc-4503-917e-acf333bed199.png);
  background-size: 100%;
}

.proj2 {
  background-image: url(https://user-images.githubusercontent.com/71906988/125128478-15e1c580-e0cc-11eb-936b-521d6f96fb7f.png);
  background-size: 100%;
}

.proj3 {
  background-image: url(https://user-images.githubusercontent.com/71906988/125128531-242fe180-e0cc-11eb-97c1-216fba21ba4d.png);
  background-size: 100%;
}

.proj4 {
  background-image: url(https://user-images.githubusercontent.com/71906988/134098601-69c7f76a-0b0a-45c8-8ff9-ff8ff0d8141a.png);
  background-size: 100%;
}

.proj5 {
  background-image: url(https://user-images.githubusercontent.com/71906988/125128610-37db4800-e0cc-11eb-97cb-7f363057075a.png);
  background-size: 100%;
}

.proj6 {
  background-image: url(https://user-images.githubusercontent.com/71906988/125128589-327dfd80-e0cc-11eb-991c-fe3dbab3afc0.png);
  background-size: 100%;
}

.gradient-box {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

/* header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
} */